# --extra-index-url http://callowayproject.com/simple/
django-acknowledge
django-audience>=0.5.3
django-categories>=1.0.2
django-concepts>=0.3.5
django-edumetadata>=0.6
django-licensing>=0.3
django-localflavor>=1.0
django-quotations
django-reference
django-resourcecarousel>=1.0.1
django-ngs-taxonomy
beautifulsoup4